legacy-peer-deps=true
# cached to local directory to work-around the error
# "permission denied: /root/.npm ... Your cache folder contains root-owned files..."
# when running vitest in container
cache=./npm-cache